table {
    border: 2px solid greenyellow;
    margin: 0px;
    padding: 0px;
}

td {
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: 0px;
}

#white {
    background-color: wheat;
    padding: 0px;
    margin: 0px;
}

#black {
    background-color: black;
    padding: 0px;
    margin: 0px;
}